/* DOCUMENT */

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

/* -------------------------------------------- */

/* POMODORO TIMER */

#pomodoro {
  margin-bottom: 43px;
  max-width: 512px;
  width: 100%;
}
#pomodoro #clock {
  background: url(../img/pomodoro-bg/none.png) no-repeat center center;
  background-size: contain;
  display: flex;
  justify-content: center;
  padding: 30px;
  width: 100%;
  margin-top: 28px;
}
@media all and (min-width: 512px) {
  #pomodoro #clock {
    /* margin-bottom: -32px; */
    padding: 30px;
  }
}
@media all and (max-width: 184px) {
  #pomodoro #clock {
    margin-bottom: -20px;
    margin-bottom: -11.5px;
    padding: 75px 0;
  }
}
#pomodoro #clock #timer {
  background-color: whitesmoke;
  opacity: 70%;
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
#pomodoro #clock #timer #title {
  color: #45afb2;
  font-size: 28px;
  line-height: 28px;
  margin: 3px 0 1px;
}
@media all and (max-width: 512px) {
  #pomodoro #clock #timer #title {
    font-size: 5.5vw;
    line-height: 5.5vw;
  }
}
@media all and (max-width: 184px) {
  #pomodoro #clock #timer #title {
    font-size: 10px;
    line-height: 10px;
  }
}
#pomodoro #clock #timer #countdown {
  color: #104547;
  display: flex;
  font-size: 43px;
  font-weight: 600;
  line-height: 43px;
}
@media all and (max-width: 512px) {
  #pomodoro #clock #timer #countdown {
    font-size: 8.4vw;
    line-height: 8.4vw;
  }
}
@media all and (max-width: 184px) {
  #pomodoro #clock #timer #countdown {
    font-size: 15.4px;
    line-height: 15.4px;
  }
}
#pomodoro #clock #timer #countdown #minutes::after {
  content: ":";
}
#pomodoro #clock #timer #controls {
  align-items: center;
  display: flex;
  color: #45afb2;
  flex-direction: column;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  margin-top: 5px;
  text-align: center;
  text-transform: uppercase;
}
#pomodoro #clock #timer #controls .fas, #pomodoro #clock #timer #controls .svg-inline--fa {
  position: relative;
}
#pomodoro #clock #timer #controls #start, #pomodoro #clock #timer #controls #pause, #pomodoro #clock #timer #controls #reset {
  white-space: nowrap;
}
#pomodoro #clock #timer #controls #start .fa-play {
  font-size: 77%;
  top: -1px;
}
#pomodoro #clock #timer #controls #start:hover {
  color: #104547;
}
#pomodoro #clock #timer #controls #pause .fa-pause {
  font-size: 90%;
  top: -1px;
  transform: scaleX(0.84);
}
#pomodoro #clock #timer #controls #pause:hover {
  color: #104547;
}
#pomodoro #clock #timer #controls #reset {
  position: absolute;
  margin-top: 17.56px;
  transition: margin-top 0.43s, opacity 0.43s;
}
#pomodoro #clock #timer #controls #reset .fa-sync-alt {
  font-size: 84%;
}
#pomodoro #clock #timer #controls #reset:hover {
  color: #104547;
}
#pomodoro #clock #timer #controls.reset #pause {
  display: none;
}
#pomodoro #clock #timer #controls.reset #reset {
  margin-top: 0;
  opacity: 0;
  z-index: -1;
}
#pomodoro #clock #timer #controls.started #start {
  display: none;
}
#pomodoro #clock #timer #controls.started #reset {
  opacity: 0;
}
#pomodoro #clock #timer #controls.paused #pause {
  display: none;
}
@media all and (max-width: 512px) {
  #pomodoro #clock #timer #controls {
    font-size: 5.5vw;
    line-height: 5.5vw;
  }
  #pomodoro #clock #timer #controls #start, #pomodoro #clock #timer #controls #pause, #pomodoro #clock #timer #controls #reset {
    font-size: 3vw;
    line-height: 3vw;
  }
  #pomodoro #clock #timer #controls #reset {
    margin-top: 3.43vw;
  }
}
@media all and (max-width: 184px) {
  #pomodoro #clock #timer #controls {
    font-size: 10px;
    line-height: 10px;
  }
  #pomodoro #clock #timer #controls #start, #pomodoro #clock #timer #controls #pause, #pomodoro #clock #timer #controls #reset {
    font-size: 5.5px;
    line-height: 5.5px;
  }
  #pomodoro #clock #timer #controls #reset {
    margin-top: 6.31px;
  }
}
#pomodoro #options {
  color: #104547;
  display: flex;
  font-size: 28px;
  font-weight: normal;
  justify-content: center;
  margin-top: 28px;
  text-align: center;
  /* padding: 30px; */
  width: 100%;
}
#pomodoro #options .option-title {
  color: #104547;
  font-size: 14px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: -6px;
  text-transform: uppercase;
}
#pomodoro #options .fa-angle-double-up {
  color: #45afb2;
  cursor: pointer;
}
#pomodoro #options .fa-angle-double-down {
  color: #45afb2;
  cursor: pointer;
}
#pomodoro #options #session, #pomodoro #options #break {
  align-items: center;
  display: flex;
  flex-direction: column;
}
#pomodoro #options input[type=number] {
  background: linear-gradient(#f0fff4, #92c4c0);
  border: 0;
  border-bottom: calc(3px + .28vw) solid #104547;
  border-radius: 10px;
  color: #104547;
  font: bold calc(21px + 1.43vw) "Open Sans", sans-serif;
  margin: calc(5px + .43vw) calc(3px + .43vw);
  padding: calc(3px + .43vw) calc(5px + .43vw);
  text-align: center;
}
#pomodoro #options input[type=number]::-webkit-inner-spin-button, #pomodoro #options input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media all and (min-width: 512px) {
  #pomodoro #options input[type=number] {
    border-bottom: 4.43px solid #104547;
    font: bold 28.43px "Open Sans", sans-serif;
    margin: 7.2px 5.2px;
    padding: 5.2px 7.2px;
  }
}
@media all and (max-width: 184px) {
  #pomodoro #options input[type=number] {
    border-bottom: 3.5px solid #104547;
    font: bold 23.6px "Open Sans", sans-serif;
    margin: 5.7px 3.7px;
    padding: 3.7px 5.7px;
  }
}

audio {
  display: none;
}

#audio-selector {
  width: 100%;
  margin-bottom: 8px;
}
#audio-selector .theme {
  /* background: #45afb2; */
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#47ff637f", endColorstr="#00ff6292", GradientType=0);
  flex: 1 1 25%;
  font: 600 calc(9px + 1vw) "Open Sans", sans-serif;
  padding: 1vw;
  text-align: center;
  transition: all 0.43s;
  white-space: nowrap;
}
#audio-selector .theme:last-child {
  margin-right: 0;
}
#audio-selector .theme:hover, #audio-selector .theme.selected {
  background: #45afb2;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6eff637f", endColorstr="#00ff6292", GradientType=0);
}
@media all and (min-width: 512px) {
  #audio-selector .theme {
    font-size: 15.33px;
    /* padding: 9px 5px 25px; */
  }
}
@media all and (max-width: 300px) {
  #audio-selector {
    flex-wrap: wrap;
  }
  #audio-selector .theme {
    flex: 1 0 100%;
    font-size: 14px;
    /* padding: 7px; */
  }
}


/* -------------------------------------------- */

/* TO DO LIST */

.card {
  box-shadow: 0px 0px 3px 1px #ddd;
}

.list-group-item {
  padding: .5rem .75rem;
  border: 1px solid rgba(0, 0, 0, .07);
  display: flex;
  align-items: center;
}

.list-group-item:first-child {
  border-radius: 0;
}

.list-group-item:last-child {
  border-radius: 0;
}

.list-group-item i.fa-square {
  flex-grow: 0;
  cursor: pointer;
  order: 1;
}

.list-group-item i.fa-check-square {
  display: none;
}

.list-group-item i.fa-trash-alt {
  flex-grow: 0;
  cursor: pointer;
  color: #dc3545;
  order: 3;
}

.list-group-item i.fa-trash-alt:hover {
  color: #af1e2c;
}

.list-group-item .todo-text {
  flex-grow: 1;
  margin: 0 10px;
  order: 2;
}

.list-group-item.done i.fa-check-square {
  flex-grow: 0;
  cursor: pointer;
  color: #28a745;
  display: block;
}

.list-group-item.done i.fa-square {
  display: none;
}

.list-group-item.done .todo-text {
  text-decoration: line-through;
  color: #888;
}

.alert {
  margin-bottom: 10px;
  height: 15px;
}

.btn-normal {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-normal:focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-normal:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-normal:active {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

/* -------------------------------------------- */

/* SEARCH */

.my-nav-link {
  color: #104547;
}

.my-nav-link:hover {
  color: white;
  background-color:  #104547;
  opacity: 70%;
}


/* -------------------------------------------- */

/* CALENDAR */

#calendar {
  max-width: 1100px;
  margin: 40px auto;
}

/* overwrite default button colour */
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #104547 !important;
  border-color: #104547 !important;
}

/* modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* dropdown option colours */

.wrapper-dropdown {
    position: relative;
    width: 200px;
    background: #FFF;
    color: #2e2e2e;
    outline: none;
    cursor: pointer;
}
.wrapper-dropdown > span {
  width: 100%;
  display: block;
  border: 1px solid #ababab;
  padding: 5px;
}
.wrapper-dropdown > span > span {
  padding: 0 12px;
  margin-right: 5px;
}
.wrapper-dropdown > span:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: calc(50% + 4px);
    margin-top: -6px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #2e2e2e transparent;
}

.wrapper-dropdown .dropdown {
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    font-weight: normal;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    border: 1px solid #ababab;
    border-top: 0;
}

.wrapper-dropdown .dropdown li {
    display: block;
    text-decoration: none;
    color: #2e2e2e;
    padding: 5px;
    cursor: pointer;
}

.wrapper-dropdown .dropdown li > span {
  padding: 0 12px;
  margin-right: 5px;
}

.wrapper-dropdown .dropdown li:hover {
    background: #eee;
    cursor: pointer;
}

/* dot */
.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}

/* add event button */
#addEventButton {
  width: 100px;
}

/* delete event button */
#deleteEventButton {
  width: 120px;
}

#eventTitle {
  min-height: 60px;
  display: inline-flex;
  align-items: center;
}