/*----  Explore Page CSS   ----*/
.btn {
    background-color: white !important;
    color: #104547 !important;
    border-color: #104547 !important;
    
}

button.btn:hover, button.btn:active, button.btn:visited {
    background-color:  #104547  !important;
    color:white !important;
    border-color: #104547 !important;
    
}


#search-bar {
    background: #F7F7F7;
    padding: 20px;
    
}
#cards_landscape_wrap-2{
    text-align: center;
    background: #F7F7F7;
}
#cards_landscape_wrap-2 .container{
    padding-top: 80px; 
    padding-bottom: 100px;
}
#cards_landscape_wrap-2 a{
    text-decoration: none;
    outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
    border-radius: 5px; 
        
}
#cards_landscape_wrap-2 .card-flyer .image-box{
    background: #ffffff;
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
    border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img{
    -webkit-transition:all .9s ease; 
    -moz-transition:all .9s ease; 
    -o-transition:all .9s ease;
    -ms-transition:all .9s ease; 
    width: 100%;
    height: 200px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img{
    opacity: 0.7;
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform:scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box{
    text-align: left;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container{
    padding: 30px 18px;
}
#cards_landscape_wrap-2 .card-flyer{
    background: #FFFFFF;
    margin-top: 50px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}
#cards_landscape_wrap-2 .card-flyer:hover{
    background: #fff;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box p{
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px; 
    font-size: 14px;
    letter-spacing: 1px;
    color: #000000;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6{
    margin-top: 0px;
    margin-bottom: 4px; 
    font-size: 10px;
    font-weight: light;
    /* font-weight: bold; */
    text-transform: uppercase;
    /* font-family: 'Roboto Black', sans-serif, monospace; */
    letter-spacing: 1px;
    color: #9ea7a8;
}
#cards_landscape_wrap-2 .card-flyer .text-box h5{
    margin-top: 0px;
    margin-bottom: 4px; 
    font-size: 18px;
    /* font-weight: bold; */
    text-transform: uppercase;
    /* font-family: 'Roboto Black', sans-serif; */
    letter-spacing: 1px;
    color: #104547;
}
#cards_landscape_wrap-2 .card-flyer .text-box .signup-btn{
    background-color: #00acc1;
    color: #FFFFFF;
}


.filter-btn {
    border: 1px solid black;
    background-color: white;
    color: 104547;
    padding: 6px 12px;
    font-size: 16px;
    cursor: pointer;

    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  
  .fil-button-green {
    border-color: #104547;
    color: 104547;
  }
  
  .fil-button-green:hover {
    background-color: #104547;
    color: white;
  }
/* for sort and filter button  */
  .sort-btn {
    border: 1px solid 104547;
    background-color: white;
    color: 104547;
    padding: 4px 8px;
    font-size: 16px;
    cursor: pointer;

    border-radius: 8px;
  }
  
  .fil-sort {
    border-color: #104547;
    color: 104547;
  }
  
  .fil-sort:hover {
    background-color: #104547;
    color: white;
  }


/* CSS FOR FILTER - EVENT TYPE - SCROLLING BOX WITH CHECKBOX MUTIPLE SELECT OPTIONS */
.multiselect-container{position:absolute;list-style-type:none;margin:0;padding:0}.multiselect-container .input-group{margin:5px}.multiselect-container>li{padding:0}.multiselect-container>li>a.multiselect-all label{font-weight:700}.multiselect-container>li.multiselect-group label{margin:0;padding:3px 20px;height:100%;font-weight:700}.multiselect-container>li.multiselect-group-clickable label{cursor:pointer}.multiselect-container>li>a{padding:0}.multiselect-container>li>a>label{margin:0;height:100%;cursor:pointer;font-weight:400;padding:3px 20px 3px 40px}.multiselect-container>li>a>label.radio,.multiselect-container>li>a>label.checkbox{margin:0}.multiselect-container>li>a>label>input[type=checkbox]{margin-bottom:5px}.filter .btn{padding:6px 3px}.btn-group>.btn-group:nth-child(2)>.multiselect.btn{border-top-left-radius:4px;border-bottom-left-radius:4px}.form-inline .multiselect-container label.checkbox,.form-inline .multiselect-container label.radio{padding:3px 20px 3px 40px}.form-inline .multiselect-container li a label.checkbox input[type=checkbox],.form-inline .multiselect-container li a label.radio input[type=radio]{margin-left:-20px;margin-right:0}



/* custom styles */
@import url(https://fonts.googleapis.com/css?family=Lato);

body{
  font-family:Lato, sans-serif;
}

.btn-default{
  background: #0074d9; /* Old browsers */
background: -moz-linear-gradient(top,  #0074d9 1%, #0074d9 18%, #0049bf 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#0074d9), color-stop(18%,#0074d9), color-stop(100%,#0049bf)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #0074d9 1%,#0074d9 18%,#0049bf 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #0074d9 1%,#0074d9 18%,#0049bf 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #0074d9 1%,#0074d9 18%,#0049bf 100%); /* IE10+ */
background: linear-gradient(to bottom,  #0074d9 1%,#0074d9 18%,#0049bf 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0074d9', endColorstr='#0049bf',GradientType=0 ); /* IE6-9 */

color: #f9f9f9;
}

.btn-default:hover{
  color: #f9f9f9;
}


.open>.dropdown-toggle.btn-default {
color: #f9f9f9;
background-color: #0074d9;
border-color: #0049bf;
}
/* END OF CSS FOR FILTER - EVENT TYPE - SCROLLING BOX WITH CHECKBOX MUTIPLE SELECT OPTIONS */
