/*----  Explore Page CSS   ----*/

.search-container {
    width: 60%;
    background: #FFFFFF;
    display: flex; 
    /* flex is to contain element within this element */
    justify-content: center;
    /* justify center to tell it to put the inner content in the position */
}


#search-bar {
    background: #F7F7F7;
    padding: 20px;
    
}
.cards_landscape_wrap-2{
    text-align: center;
    background: #F7F7F7;
}
.cards_landscape_wrap-2 .container{
    padding-top: 80px; 
    padding-bottom: 100px;
}
.cards_landscape_wrap-2 a{
    text-decoration: none;
    outline: none;
}
.cards_landscape_wrap-2 .card-flyer {
    border-radius: 5px; 
    height: 90%;
        
}
.cards_landscape_wrap-2 .card-flyer .image-box{
    background: #ffffff;
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
    border-radius: 5px;
}
.cards_landscape_wrap-2 .card-flyer .image-box img{
    transition: all 1s ease;
    width: 100%;
    height: 200px;
}
.cards_landscape_wrap-2 .card-flyer:hover .image-box img{
    opacity: 0.7;
    transform: scale(1.15);
}
.cards_landscape_wrap-2 .card-flyer .text-box{
    text-align: left;
}
.cards_landscape_wrap-2 .card-flyer .text-box .text-container{
    padding: 30px 18px;
}
.cards_landscape_wrap-2 .card-flyer{
    background: #FFFFFF;
    margin-top: 50px;
    transition: all 0.2s ease-in;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}
.cards_landscape_wrap-2 .card-flyer:hover{
    background: #fff;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    transition: all 0.2s ease-in;
    margin-top: 50px;
}
.cards_landscape_wrap-2 .card-flyer .text-box p{
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px; 
    font-size: 14px;
    letter-spacing: 1px;
    color: #000000;
}
.cards_landscape_wrap-2 .card-flyer .text-box h6{
    margin-top: 0px;
    margin-bottom: 4px; 
    font-size: 10px;
    font-weight: light;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #9ea7a8;
}
.cards_landscape_wrap-2 .card-flyer .text-box h5{
    margin-top: 0px;
    margin-bottom: 4px; 
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #104547;
}
.cards_landscape_wrap-2 .card-flyer .text-box .signup-btn{
    background-color: #00acc1;
    color: #FFFFFF;
}

.details-btn {
    border-color: #104547;
    color: 104547;
}

.details-btn:hover {
    background-color: #104547;
    color: white;
  }

.filter-btn {
    border: 1px solid black;
    background-color: white;
    color: 104547;
    padding: 6px 12px;
    font-size: 16px;
    cursor: pointer;

    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
  
.fil-button-green {
border: 2px #104547 solid ;
color: 104547;
background-color: lightgray;
}

.fil-button-green:hover {
background-color: #104547;
color: white;
}
/* for sort and filter button  */
.sort-btn {
border: 1px solid 104547;
background-color: white;
color: 104547;
padding: 4px 8px;
font-size: 16px;
cursor: pointer;

border-radius: 8px;
}

.fil-sort {
border-color: #104547;
color: 104547;
}

.fil-sort:hover {
background-color: #104547;
color: white;
}

.sign_up_btn {
    background-color: #104547;
    color: white;
    /* color: 104547; */
}

.filter_badge {
    background-color: #1e8285;
    /* background-color: #26a2a7; */
    color: white;
    
}


