/*----  Explore Page CSS   ----*/

.search-container {
    width: 60%;
    background: #FFFFFF;
    display: flex; 
    /* flex is to contain element within this element */
    justify-content: center;
    /* justify center to tell it to put the inner content in the position */
}

#search-bar {
    background: #F7F7F7;
    padding: 20px;
    
}
.cards_landscape_wrap-2{
    text-align: center;
    background: #F7F7F7;
}
.cards_landscape_wrap-2 .container{ 
    padding-top: 80px; 
    padding-bottom: 100px;
}
/* .cards_landscape_wrap-2 a{
    text-decoration: none;
    outline: none; */
/* } */
.cards_landscape_wrap-2 .card {
    border-radius: 5px; 
    position: relative;
    width: 100%;
    height: 440px;
    /* initially 420 but due to some long heading, got to increase height */
    max-width: 280px;

    display: absolute;

}
.cards_landscape_wrap-2 .card .image-box{
    background: #ffffff;
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
    border-radius: 5px;
}
.cards_landscape_wrap-2 .card .image-box img{
    transition: all 1s ease;
    width: 100%;
    height: 170px;
}
.cards_landscape_wrap-2 .card:hover .image-box img{
    opacity: 0.7;
    transform: scale(1.15);
}
.cards_landscape_wrap-2 .card .text-box{
    text-align: left;
    
}
.cards_landscape_wrap-2 .card .text-box .text-container{
    padding: 35px 18px;
    
}
.cards_landscape_wrap-2 .card{
    background: #FFFFFF;
    margin-top: 50px;
    transition: all 0.2s ease-in;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}
.cards_landscape_wrap-2 .card:hover{
    background: #fff;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    transition: all 0.2s ease-in;
    margin-top: 50px;
}
.cards_landscape_wrap-2 .card .text-box p{
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px; 
    font-size: 14px;
    letter-spacing: 1px;
    color: #000000;
}
.cards_landscape_wrap-2 .card .text-box h6{
    margin-top: 0px;
    margin-bottom: 4px; 
    font-size: 10px;
    font-weight: light;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #9ea7a8;
}
.cards_landscape_wrap-2 .card .text-box h5{
    margin-top: 0px;
    margin-bottom: 4px; 
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #104547;
}
.cards_landscape_wrap-2 .card .text-box .signup-btn{
    background-color: #00acc1;
    color: #FFFFFF;
}

.details-btn {
    border-color: #104547;
    color: 104547;
}
.card_footer {
    position: absolute;
    bottom: 15px;
    left: 15px;;
    align-content: flex-start; 
}

.details-btn:hover {
    background-color: #104547;
    color: white;   
  }

.filter-btn {
    border: 1px solid black;
    background-color: white;
    color: 104547;
    padding: 6px 12px;
    font-size: 16px;
    cursor: pointer;

    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
  
.fil-button-green {
border: 2px #104547 solid ;
color: 104547;
background-color: lightgray;
}

.fil-button-green:hover {
background-color: #104547;
color: white;
}
/* for sort and filter button  */
.sort-btn {
border: 1px solid 104547;
background-color: white;
color: 104547;
padding: 4px 8px;
font-size: 16px;
cursor: pointer;

border-radius: 8px;
}

.fil-sort {
border-color: #104547;
color: 104547;
}

.fil-sort:hover {
background-color: #104547;
color: white;
}

.sign_up_btn {
    background-color: #104547;
    color: white;
    /* color: 104547; */
}

.confirm-btn{
    background-color: #104547;
    color: white;
}

.filter_badge {
    background-color: #1e8285;
    color: white;
    
}
.page_btn {
    background-color: #104547;
    color: white;
}

.page_btn:focus {
    background-color: #104547;
    color: white;

}

.bookmark_btn {
    /* display: inline-block; */
    vertical-align: middle;
    background: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    outline: 0;
    border: none;
  }

  
  
  .card__ribbon {
    /* display: block; */
    float: right;
    background-color: #A1A5A8;
  }
  
  .card__ribbon:hover {
    background-color: #FF9908;
  }
  
  .card__ribbon:after {
    border-color: #A1A5A8;
  }

  .card__ribbon:active {
    background-color: #FF9908;
  }
  
  .card__ribbon:hover:after {
    border-color: #FF9908;
    border-bottom-color: transparent;
  }
  
  .ribbon {
    box-sizing: border-box;
    position: relative;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  
  .ribbon:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    border-style: solid;
    border-width: 5px 10px 5px 10px;
    border-bottom-color: transparent;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .bookmark_icon {
    /* display: inline-block; */
    float: right;
    /* vertical-align: middle; */
    /* background: none; */
    cursor: pointer;
    /* padding: 0;
    margin: 0;
    outline: 0;
    border: none; */
  }

  /* .bookmark.icon {
    color: #000;
    position: absolute;
    /* margin-left: 500px;
    margin-top: 300px; */
    /* width: 20px;
    height: 25px;
    border-radius: 0 0 1px 1px ;
    border-top: solid 1px black;
    border-left: solid 1px black;
    border-right: solid 1px black;
  }
  
  .bookmark.icon:before {
    content: '';
    /* position: absolute;
    top: 203px;
    left: 8px;
    width: 75px;
    height: 75px; */
    /* border-radius: 0  0 10px 10px ;
    z-index:-1;
    border-top: solid 10px black;
    border-left: solid 10px black;
    -webkit-transform: rotate(48deg);
            transform: rotate(45deg); */
  /* } */
  


