.btn {
    background-color: white !important;
    color: #104547 !important;
    border-color: #104547 !important;
    
}

#carousel_events{
    background-color: #4B5358;
    margin-top: 5%;
    color: white;
    border-radius: 15px;
    padding: 30px
}