#intro {
    background-color: #4b5358;
    margin-top: 5%;
    color: white;
    border-radius: 15px;
    padding: 30px;
}
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.card {
    display: inline-block;
    width: 18rem;
    height: 25rem;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
}
#upcoming {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
#for_you {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.btn {
    background-color: white !important;
    color: #104547 !important;
    border-color: #104547 !important;
    
}

#carousel_events{
    background-color: #4B5358;
    margin-top: 5%;
    color: white;
    border-radius: 15px;
    padding: 30px
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }