/* nav bar css */
.navbar-nav {
    font-size: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.nav-item:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.05em;
    text-underline-offset: 0.4em;
}
.nav-item.active {
    text-decoration: underline;
    text-decoration-thickness: 0.2em;
    text-underline-offset: 0.4em;
}