
.pagination {
    text-align: center;
    user-select: none;
}

.pagination li{
    display: inline-block;
    box-shadow: 0 5px 25px rgb(1 1 1 / 10%)
}

.pagination button{
    text-decoration: none;
    font-size: 1.2em;
    line-height: 45px;
    color: white;

}

.previous-page, .next-page {
    background: #104547;
    width: 80px;
    border-radius: 45px;
    transition: 0.3s ease;
    cursor: pointer;
    color: white;
}

.previous-page:hover{
    transform: translateX(-5px);
}

.next-page:hover{
    transform: translateX(5px);
}

.current-page {
    padding: 10px;
    color: #104547;
    text-decoration: none;
    border-radius: 50%;
    width: 80px;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}