body {
    background-color: #f7f7f7;
}

/* -------------------------------------------------- */
/* TITLES */
h2 {
    text-align: center;
}
#info h2 {
    padding-top: 40px;
    padding-bottom: 20px;
}
#user_preference h2 {
    padding-top: 40px;
    padding-bottom: 30px;
}

#app {
    margin-top: 15px;
}

#events_h2 {
    margin-top: 25px;
    padding-bottom: 10px;
}
#info {
    padding-bottom: 20px;
}


/* -------------------------------------------------- */
/* TABS */
.my-nav-link {
    color: #104547;
  }
  
  .my-nav-link:hover {
    color: white;
    background-color:  #104547;
    opacity: 70%;
  }


/* -------------------------------------------------- */
/* BUTTON */
.btn {
    background-color: white !important;
    color: #104547 !important;
    border-color: #104547 !important;
}

.btn:active, .btn:hover {
    background-color: #104547 !important;
    color: white !important;
    border-color: #104547 !important;
}

/* -------------------------------------------------- */
/* IMAGE */
.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
}
    
.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}
    
.avatar-upload .avatar-edit input {
    display: none;
}
    
.avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #ffffff;
    border: 1px solid #d9e3e3;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}
    
.avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}
    
.avatar-upload .avatar-edit input + label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}
    
.avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
    
.avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* -------------------------------------------------- */
/* PERSONAL DETAILS */
.detail_name {
    width: 25%;
    font-weight: bold;
    font-size: 20px;
}

.detail_value input, .detail_value select {
    width: 95%;
    font-size: 20px;
}


/* -------------------------------------------------- */
/* EDIT FIELDS */
form.is-readonly .btn-save {
    display: none;
}
form.is-readonly input[disabled], form.is-readonly textarea[disabled], form.is-readonly select[disabled] {
    cursor: text;
    background-color: #fff;
    border-color: transparent;
    outline-color: transparent;
    box-shadow: none;
}
form.is-editing .btn-edit {
    display: none;
}

.btn-edit, .btn-save {
    float: right;
    margin-top: 10px;
    width: 70px;
}

textarea {
    text-align: center;
}

p{
    margin-top: 7px;
}



/* -------------------------------------------------- */
/* BUTTONS */
a {
    text-decoration: none;
    display: inline-block;
    padding: 2px 10px;
}
  
#info a:hover {
background-color: #ddd;
color: black;
}

.edit {
font-size: 20px;
color: grey;
}

td {
    height: 80px;
    vertical-align: middle;
}


/* -------------------------------------------------- */
/* PREFERENCE */
.image-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#preference h5, #preference h6, #preference p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#preference #add-button-link {
    color: black;
}

.small-title {
    font-size: 18px;
}

.remove a:hover {
    color: red !important;
}

/* -------------------------------------------------- */
/* EVENT CARDS */

#intro {
    background-color: #4b5358;
    margin-top: 5%;
    color: white;
    border-radius: 15px;
    padding: 30px;
}
.card {
    display: inline-block;
    width: 18rem;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
}
#upcoming {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
#past_events {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.btn {
    background-color: white !important;
    color: #104547 !important;
    border-color: #104547 !important;
}
#carousel_events{
    background-color: #4B5358;
    margin-top: 5%;
    color: white;
    border-radius: 15px;
    padding: 30px
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
.cards_landscape_wrap-2{
    text-align: center;
}
.cards_landscape_wrap-2 .container{
    padding-top: 10px; 
    padding-bottom: 10px;
}
.cards_landscape_wrap-2 a{
    text-decoration: none;
    outline: none;
}
.cards_landscape_wrap-2 .card {
    border-radius: 5px; 
    height: 90%;
}
.cards_landscape_wrap-2 .card .image-box{
    background: #ffffff;
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
    border-radius: 5px;
}
.cards_landscape_wrap-2 .card .image-box img{
    transition: all 1s ease;
    width: 100%;
    height: 150px;
}
.cards_landscape_wrap-2 .card:hover .image-box img{
    opacity: 0.7;
    transform: scale(1.15);
}
.cards_landscape_wrap-2 .card .text-box{
    text-align: left;
}
.cards_landscape_wrap-2 .card .text-box .text-container{
    padding: 30px 18px;
}
.cards_landscape_wrap-2 .card{
    background: #FFFFFF;
    margin-top: 50px;
    transition: all 0.2s ease-in;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}
.cards_landscape_wrap-2 .card:hover{
    background: #FFFFFF;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    transition: all 0.2s ease-in;
    margin-top: 50px;
}
.cards_landscape_wrap-2 .card .text-box p{
    /* margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;  */
    font-size: 14px;
    letter-spacing: 1px;
    color: #000000;
}
.cards_landscape_wrap-2 .card .text-box h6{
    margin-top: 0px;
    margin-bottom: 4px; 
    font-size: 10px;
    font-weight: light;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #9ea7a8;
}
.cards_landscape_wrap-2 .card .text-box h5{
    margin-top: 0px;
    margin-bottom: 4px; 
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #104547;
}
.cards_landscape_wrap-2 .card .text-box .btn:hover{
    background: #104547;
}
.cards_landscape_wrap-2 .card .text-box .signup-btn{
    background-color: #104547;
    color: #FFFFFF;
}

.footer{
    background-color: #104547;
}





/* -------------------------------------------------- */
/* RESPONSIVENESS */
@media screen and (max-width: 576px) {
    .detail_name {
        font-size: 16px;
    }
    
    .detail_value input, .detail_value select {
        font-size: 16px;
    }

    td {
        height: 60px;
    }
    
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .detail_name {
        font-size: 16px;
    }
    
    .detail_value input, .detail_value select {
        font-size: 16px;
    }

    td {
        height: 60px;
    }
    
}



/* #app .container {
    margin: 20px;
    padding: 15px;
    width: -webkit-fill-available;
    min-width: 140px;
    max-width: 350px;
    background-color: #ffffff;
    border-radius: 12px;
} */


* {
    box-sizing: border-box;
}

#app {
    background-color: #f0f2f5;
    border-radius: 20px;
}

#app #pie {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 180px;
    /* min-height: 100%; */
}

#app .card1 {
    margin: 20px;
    padding: 15px;
    width: -webkit-fill-available;
    min-width: 140px;
    max-width: 350px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}

#app .card2 {
    margin: 20px;
    padding: 15px;
    margin-top: auto;
    margin-bottom: auto;
    width: -webkit-fill-available;
    min-width: 140px;
    max-width: 350px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}

#app .event_type {
    line-height: 35px;
}

#app .total {
    margin: 0 auto 10px;
    width: fit-content;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    
}
/* EDITS TO .total,span */

#app .span{ 
    /* margin: 0 auto 10px;
    width: fit-content;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px; */
    color: #bebebe;
    font-size: 12px;
}
/* EDITS TO .total,span */

#app .pie-chart {
    position: relative;
}

#app .temp-item {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #bebebe;
    padding: 0;
    color: #ffffff;
    font-size: 14px;
    border-radius: 8px;
    transform: translate(-50%, -50%);
    transition: padding 0.2s;
    }

#app .has-value {
    padding: 5px;
    font-size: 18px;
    }

#app svg {
    display: block;
    margin: 0 auto 10px;
    transform: rotate(-90deg);
    
}

#app circle:not(:first-child) {
    cursor: pointer;
    transition: opacity linear 0.2s, stroke-width linear 0.2s, transform linear 0.2s;
    transform-origin: center;
}

#app .items {
    width: 18px;
    height: 14px;
    margin: 5px 10px 5px 0;
    border-radius: 4px;
}
#app .items-container {
    justify-content: center;
}

#app .items-wrap {
    display: flex;
    align-items: center;
    transition: opacity 0.1s;

}
#app .items:hover {
    opacity: 0.8;
}
#app .amount {
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
}


#sign_up {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}