    #pie_n_stats_card {

    }

    .container {
        margin: 20px;
        padding: 15px;
        width: -webkit-fill-available;
        min-width: 140px;
        max-width: 350px;
        background-color: #ffffff;
        border-radius: 12px;


    }
    
    
    * {
        box-sizing: border-box;
    }
    
    html, body {
        height: 100%;
    }
    
    #app {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 180px;
        min-height: 100%;
        background-color: #f0f2f5;
    }
    
    .card {
        margin: 20px;
        padding: 15px;
        width: -webkit-fill-available;
        min-width: 140px;
        max-width: 350px;
        background-color: #ffffff;
        border-radius: 12px;
        box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    }
    
    .total {
        margin: 0 auto 10px;
        width: fit-content;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.5px;
        
    }
    /* EDITS TO .total,span */

    .span{ 
        /* margin: 0 auto 10px;
        width: fit-content;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.5px; */
        color: #bebebe;
        font-size: 12px;
    }
    /* EDITS TO .total,span */
    
    .pie-chart {
        position: relative;
        
    }

    .temp-item {
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: #bebebe;
        padding: 0;
        color: #ffffff;
        font-size: 14px;
        border-radius: 8px;
        transform: translate(-50%, -50%);
        transition: padding 0.2s;
        }

    .has-value {
        padding: 5px;
        font-size: 18px;
        }

    /* EDITS TO SVG */
    svg {
        display: block;
        margin: 0 auto 10px;
        transform: rotate(-90deg);
        
    }

    circle:not(:first-child) {
        cursor: pointer;
        transition: opacity linear 0.2s, stroke-width linear 0.2s, transform linear 0.2s;
        transform-origin: center;
    }
    
    .items {
        width: 18px;
        height: 14px;
        margin: 5px 10px 5px 0;
        border-radius: 4px;
    }
    .items-container {
        /* display: flex; */
        /* flex-wrap: wrap; */
        justify-content: center;

    }

    .items-wrap {
        display: flex;
        align-items: center;
        transition: opacity 0.1s;

    }
    .items:hover {
        opacity: 0.8;
    }
    .amount {
        margin-right: 10px;
        font-size: 14px;
        font-weight: bold;
    }
    