<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css' rel='stylesheet'>

    <title> Calendar | calendaREADY </title>
    <link rel="icon" href="img/logo/logo-greenbg.png">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css'>
    
    <!-- External CSS -->
    <link rel="stylesheet" href="css/calendar.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

    <!--navbar css-->
    <link rel="stylesheet" href="css/navbar.css">

    <!-- Vue JavaScript -->
    <script src="https://unpkg.com/vue@next"></script>

    <script type="module" src="js/login-common.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- <script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script> -->

</head>

<body>
  <!-- NAVIGATION BAR (consistent across all pages)  -->
  <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #104547">
    <div class="container">
      <img src="img/logo/logo-white.png" style="width:64px; height:64px">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myMenu" aria-controls="myMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
          
      <div class="collapse navbar-collapse" id="myMenu">
        <div class="navbar-nav ms-auto">
          <a class="nav-item nav-link text-white" href="home.html">Home</a>
          <a class="nav-item nav-link text-white" href="explore.html">Events</a>
          <a class="nav-item nav-link text-white active" aria-current="page" href="calendar.html">Calendar</a>
          <a class="nav-item nav-link text-white" href="profile.html">Profile</a>
          <a class="nav-item nav-link text-white" href="login.html" onclick="logoutFunction()">Logout</a>
        </div>
      </div>
      
      </div>
  </nav>

  <!-- LINK TO FIREBASE TO FETCH DATA -->
  <h1 id="target"></h1>
  <script type="module" src="js/calendar.js"></script>



  <div class="container">
      <div class="row text-start">

        <!-- START OF COL -->
        <div class="col-12 col-lg-3 pt-4">
          <!-- Display Nav items -->
          <ul class="nav nav-tabs pt-4" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link my-nav-link active" id="task-tab" data-bs-toggle="tab" data-bs-target="#task-tab-pane" type="button" role="tab" aria-controls="task-tab-pane" aria-selected="true" onclick="setButtonColor(this)"> Tasks </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link my-nav-link" id="timer-tab" data-bs-toggle="tab" data-bs-target="#timer-tab-pane" type="button" role="tab" aria-controls="timer-tab-pane" aria-selected="true" onclick="setButtonColor(this)"> Timer </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link my-nav-link" id="search-tab" data-bs-toggle="tab" data-bs-target="#search-tab-pane" type="button" role="tab" aria-controls="search-tab-pane" aria-selected="false"  onclick="setButtonColor(this)"> Search </button>
            </li>
          </ul>

          <!-- Nav item content -->
          <div class="tab-content" id="myTabContent">

              <!-- Task List -->
              <div class="tab-pane fade show active" id="task-tab-pane" role="tabpanel" aria-labelledby="task-tab" tabindex="0"> 
                <!-- task list -->
                <div>
                  <p class="mt-5 text-center" style="font-size: 24px"> To-Do List </p>
                  <div class="card-header pb-2">
                    <form id="form">
                      <div class="input-group">
                        <input type="text" class="form-control" id="todo" placeholder="Add new todo item">
                        <div class="input-group-append">
                          <button type="submit" class="btn btn-primary" style="z-index: 0">
                            <i class="fas fa-plus"></i> 
                            Add
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!-- add warning here if needed (if input field is empty) -->
                  <div id="alertText">
                  </div>
                  <div class="card-body">
                    <ul class="list-group mb-3" id="taskList">
                      <!-- Populate tasks -->
                    </ul>
                  </div>
                  <!-- End of task list-->

                  </form>
                </div>

                <!-- add warning here if needed (if input field is empty) -->
                <div id="alertText">

                </div>
              </div>

              <!-- Pomodoro Timer -->
              <div class="tab-pane fade" id="timer-tab-pane" role="tabpanel" aria-labelledby="timer-tab" tabindex="0">
                <!-- pomodoro timer-->
                <div>
                  <p class="mt-5 text-center" style="font-size: 24px"> Pomodoro Timer </p>

                  <div id="audio-selector" class="row">
                    <div class="col-12 col-xs-6 col-sm-4 col-md-6">
                      <div id="forest" class="theme"><!--🌲 --> 🌲 Forest</div>
                    </div>

                    <div class="col-12 col-xs-6 col-sm-4 col-md-6">
                      <div id="ocean" class="theme"><!--🌊 --> 🌊 Ocean</div>
                    </div>

                    <div class="col-12 col-xs-6 col-sm-4 col-md-6">
                      <div id="rainy" class="theme"><!--🌧 --> 🌧 Rainy</div>
                    </div>

                    <div class="col-12 col-xs-6 col-sm-4 col-md-6">
                      <div id="peace" class="theme"><!--🧘 --> 🧘 Peace</div>
                    </div>

                    <div class="col-12 col-xs-6 col-sm-4 col-md-6">
                      <div id="cafe" class="theme"><!--☕ --> ☕ Caf&eacute;</div>
                    </div>

                    <div class="col-12 col-xs-6 col-sm-4 col-md-6">
                      <div id="none" class="selected theme"> 🚫 None </div>
                    </div>
                  </div>

                  <!-- POMODORO -->
                  <div id="pomodoro" class="container-fluid">
                    <div id="clock">
                      <div id="timer">
                        <div id="title">Ready?</div>
                        <div id="countdown">
                          <span id="minutes">30</span>
                          <span id="seconds">00</span>
                        </div>
                        <div id="controls" class="reset">
                          <div id="start"><i class="fas fa-play"></i> Start</div>
                          <div id="pause"><i class="fas fa-pause"></i> Pause</div>
                          <div id="reset"><i class="fas fa-sync-alt"></i> Reset</div>
                        </div>
                    </div>
                  </div>

                    <!-- OPTIONS-->
                    <div id="options">
                      <div id="session">
                        <i id="incrSession" class="fas fa-angle-double-up"></i>
                        <span class="option-title">Session</span>
                        <input id="sessionInput" type="number" value="30" max="60" min="5">
                        <i id="decrSession" class="fas fa-angle-double-down"></i>
                      </div>
                      <div id="break">
                        <i id="incrBreak" class="fas fa-angle-double-up"></i>
                        <span class="option-title">Break</span>
                        <input id="breakInput" type="number" value="5" max="10" min="1">
                        <i id="decrBreak" class="fas fa-angle-double-down"></i>
                      </div>
                    </div>
                  
                  </div>
                  <audio loop autoplay="false" src="">            
                </div>
              </div>

              <!-- Search Events -->
              <div class="tab-pane fade" id="search-tab-pane" role="tabpanel" aria-labelledby="search-tab" tabindex="0">

                <!-- search events -->
                <p class="mt-5 text-center" style="font-size: 24px"> Search Events </p>

                <!-- Vue -->
                <div id="searchtab">

                  <!-- input -->
                  <div class="input-group">
                    <span class="input-group-text" id="search">
                      <i class="bi bi-search"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Search query" aria-label="search" aria-describedby="search" v-model="search_query" v-on:keyup="searchForEvents()">
                  </div>

                  <br>

                  <!-- output -->
                  <p> 
                    You searched for: 
                    {{ search_query }}
                  </p>

                  <div>
                    Your search results are:

                    <div id="search_results">
                      <!-- populate search results here -->
                    </div>
                    
                  </div>

                </div>
              </div>

          </div>

        </div> <!-- END OF COL -->


  
        <!-- Calendar -->
        <div class="col-12 col-lg-9">
          <div id='calendar'>
          </div>
        </div>

    </div> <!-- end of row -->
  </div> <!-- end of container -->


  <!-- confirm delete modal -->
  <form id="confirmDeleteTask">
    <div id="confirmDeleteTaskModal" class="modal">
      <div class="modal-content text-end">

        <!-- event title -->
        <div class="modal-header">
          <h4 class="modal-title"> Confirm Delete </h4>
        </div>
        <div class="modal-body text-start" id="confirmDeleteTaskBody">
        </div>

        <div class="mb-3 row">
          <div class="col">
            <!-- cancel button -->
            <button type="button" id="cancelDeleteTaskButton" class="btn btn-outline-secondary"> Cancel </button>
            <!-- confirm delete button -->
            <button type="button" id="confirmDeleteTaskButton" class="btn btn-danger"> Delete Task </button>
          </div>
        </div>

      </div>
    </div>
  </form>


  <!-- add event modal -->
    <form id="addEvent">
      <div id="myModal" class="modal">
        <div class="modal-content">
    
          <div class="container text-center">
            <span class="close" style="float: right">&times;</span>
          </div>
              
    
          <!-- event header -->
          <div class="p-3">
            <h4 class="display-8 text-center"> Create a New Event </h4>
          </div>
    
          <!-- event name -->
          <div class="mb-3 row">
            <label for="title" class="col-12 col-xl-2 col-form-label"> 
              <i class="bi bi-justify pe-2"></i>
              Title 
            </label>
            <div class="col-12 col-xl-10">
              <input type="text" class="form-control" id="title">
            </div>
          </div>
    
          <!-- start date & time -->
          <div class="row">
            <!-- start date -->
            <label for="eventDate" class="col-12 col-xl-2 col-form-label"> 
              <i class="bi bi-calendar-event pe-2"></i>
              Start Date 
            </label>
            <div class="col-12 col-xl-4 mb-3">
              <!-- fetch default date that the user clicked on, but allows user to change date also -->
              <input type="date" class="form-control" id="startDate">
            </div>
            <!-- start time -->
            <label for="eventDate" class="col-12 col-xl-2 col-form-label"> 
              <i class="bi bi-clock pe-2"></i>
              Start Time 
            </label>
            <div class="col-12 col-xl-4 mb-3">
              <input type="time" class="form-control" id="startTime">
            </div>
          </div>
    
          <!-- end date & time -->
          <div class="row">
            <!-- end date -->
            <label for="endDate" class="col-12 col-xl-2 col-form-label"> 
              <i class="bi bi-calendar-event pe-2"></i>
              End Date 
            </label>
            <div class="col-12 col-xl-4 mb-3">
              <input type="date" class="form-control" id="endDate">
            </div>
            <!-- end time -->
            <label for="endDate" class="col-12 col-xl-2 col-form-label"> 
              <i class="bi bi-clock pe-2"></i>
              End Time 
            </label>
            <div class="col-12 col-xl-4 mb-3">
              <input type="time" class="form-control" id="endTime">
            </div>
          </div>
  
          <!-- category -->
          <div id="category" class="row mb-3">
            <label for="dropdown" class="col-12 col-xl-2 col-form-label"> 
              <i class="bi bi-tags pe-2"></i>
              Category 
            </label>
            <div class="dropdown col-12 col-xl-10">
              <button class="btn btn-normal dropdown-toggle form-control" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" v-html="selector()"></button>
              <ul class="dropdown-menu">
                <li v-for="color in colors" v-on:click="setColor(color.hex, color.name)">
                  <a class="dropdown-item" href="#">
                    <span v-bind:style="{background: color.hex}"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span> 
                    &nbsp;
                    {{ color.name }}
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <!-- add event button -->
          <div class="mb-3 row">
            <div class="col-4">
              <button type="button" id="addEventButton" class="btn btn-dark"> Add Event </button>
            </div>
          </div>
    
        </div>
      </div>
    </form>

  <!-- successful add modal -->
  <div id="addSuccessModal" class="modal">
    <div class="modal-content">
      Event Added Successfully!
    </div>
  </div>

  <!-- display event modal -->
  <div id="myOtherModal" class="modal">
    <div class="modal-content">
      <div class="container text-center">
        <span class="close" style="float: right">&times;</span>
      </div>
        <!-- event header -->
        <div class="p-2">
            <span id="eventIcon" style="height: 50px"> </span>
            &nbsp;&nbsp;&nbsp;
            <span id="eventTitle" class="h4 fw-bold"></span>

        </div>

        <!-- event details -->
        <div class="p-3">
          <b> Start: </b>
          <span id="eventStart"></span>
          <br>

          <b> End: </b>
          <span id="eventEnd"></span>
          <br>

          <b> Category: </b>
          <span class="dot" id="eventColor"> </span>
          <span id="eventCategory"></span>
        </div>

        <!-- delete event -->
        <button id="deleteEventButton" type="button" class="btn btn-outline-danger"> Delete Event </button>

    </div>

    <!-- successful delete modal -->
    <div id="deleteSuccessModal" class="modal">
      <div class="modal-content">
        Event Deleted Successfully!
      </div>
    </div>

  </div>

  <!-- js -->
  <script>

    function setButtonColor(elem) {
      let task_btn = document.getElementById("task-tab")
      let timer_btn =  document.getElementById("timer-tab")
      let search_btn = document.getElementById("search-tab")
      
      // reset color and background color of both
      task_btn.style.removeProperty("color")
      task_btn.style.removeProperty("background-color")
      timer_btn.style.removeProperty("color")
      timer_btn.style.removeProperty("background-color")
      search_btn.style.removeProperty("color")
      search_btn.style.removeProperty("background-color")
      
      // set color of selected element
      elem.style.color = "white"
      elem.style.backgroundColor = "#104547"
    }

  </script>



  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

</body>
</html>
