<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Home | calendaREADY</title>
    <link rel="icon" href="img/logo/logo-greenbg.png">
    <!-- External CSS -->
    <link href="css/home.css" rel="stylesheet" />
    <!--navbar css-->
    <link rel="stylesheet" href="css/navbar.css">
    <!--External JAVASCRIPT-->
    <script src="js/home_func.js"></script>
    <script type="module" src="js/home_vue.js"></script>
    <script type="module" src="js/login-common.js"></script>
</head>
<body id="homePage" onload="call_weather_api()">  
    <!-- NAVIGATION BAR (consistent across all pages)  -->
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #104547">
        <div class="container">
            <img src="img/logo/logo-white.png" style="width:64px; height:64px">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myMenu" aria-controls="myMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="myMenu">
                <div class="navbar-nav ms-auto">
                    <a class="nav-item nav-link text-white active" aria-current="page" href="home.html">Home</a>
                    <a class="nav-item nav-link text-white" href="explore.html">Events</a>
                    <a class="nav-item nav-link text-white" href="calendar.html">Calendar</a>
                    <a class="nav-item nav-link text-white" href="profile.html">Profile</a>
                    <a class="nav-item nav-link text-white" href="login.html" onclick="logoutFunction()">Logout</a>
                </div>
            </div>
        
        </div>
    </nav>

    <div class = "container">

    <h1 id="target"></h1>
    <div class = "container ">
        <h3 class = "display-2 text-center m-5 text-bold" style = "font-family: Georgia, 'Times New Roman', Times, serif; color: #104547"><span class = "auto-type"></span></h3>
    </div>

    <div class = "container">
    <div class = "row">
        <div class = "col-12 col-lg-6 my-4">
            <div class = "container h-100 w-100 d-inline-block">
                <div id = "intro" class = "h-100 w-100 d-inline-block">
                    <p id = "temperature" class = "display-6" style = "color: white;"></p>
                    <hr>
                    <input class="btn btn-light " type="button" value="Are you bored?" onclick="call_bored_api()">
                    <input class="btn btn-light" type="button" value="Read a quote" onclick="call_quote_api()">
                    <br>
                    <span id = "api" style = "color: #fde7ef;"></span>
                </div>
            </div>
        </div>
        <div class = "col-12 col-lg-6 my-4">
            <div class = "container h-100 w-100 d-inline-block">
                <div id = "carousel_events" class = "h-100 w-100 d-inline-block">
                    <p class = "display-6">Your Upcoming Events</p>
                    <hr style = "color: whitesmoke">
                    <div id = "carousel_user_events"></div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <h3 class = "display-5 my-4">Upcoming School Events</h3>
    <hr style = "color: #104547">
    <div class="cards_landscape_wrap-2" id = "upcoming">
                <!--template for an event-->
        <div class="card my-5 mx-3" v-for="details in display_events" >
            <!-- start of card-->
            <div :id="`eventCard${details.eventId}`">
                <div class="text-box" style ="height: 300px">
                    <div class="image-box">
                        <img :src="details.photo" />
                    </div>
                    <div class="text-container">
                        <h5 class="card-title"> {{ details.name }} </h5>
                        <!-- SUBTITLE -->
                        <h6 class="card-subtitle mb-2 "> {{ details.type }} </h6>
                        <!-- BODY -->
                        <p class="card-text text-wrap">
                            Date: {{ details.date }}
                            <br>
                            Time: {{ details.time }}
                            <br>
                            Club: {{ details.club }}
                            <br>
                            Fees: {{ details.fees }} SGD
                        </p>
                    </div>
                </div>
                <!-- sign up button-->
                <div style="display:flex; align-content: flex-start; margin: 15px;">
                    <button type="button" class="btn details-btn mt-3 " :data-bs-target="`#infoPage${details.eventId}`"
                        data-bs-toggle="modal">More info</button>
                </div>
            </div>
            <!-- end of card-->

            <!-- MORE INFO & THE SIGNUp -->
            <!-- BUTTON -->

            <!-- Modal -->
            <div class="modal fade" :id="`infoPage${details.eventId}`" tabindex="-1" aria-labelledby="InfoPageLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="InfoPageLabel"> {{ details.club }} </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container p-2">
                                <img :src="details.photo"
                                    style="width:500px; height:250px" alt="..." class="center "/>
                            </div>
                            <p class="display-6 lead text-center">{{ details.name }}</p>
                            <hr>
                            <div class="container">
                                <table class = "table table-striped text-start" width="50%">
                                    <tr>
                                        <th>
                                            <img src = "https://cdn-icons-png.flaticon.com/128/3990/3990804.png" height = 20 width = 20> 
                                            Club 
                                        </th>
                                        <td>{{ details.club }}</td>
                                    </tr>
                                    <tr>
                                        <th> 
                                            <img src = "https://cdn-icons-png.flaticon.com/128/591/591607.png" height = 20 width = 20> 
                                            Date
                                        </th>
                                        <td>{{ details.date }}</td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <img src = "https://cdn-icons-png.flaticon.com/128/2997/2997985.png" height = 20 width = 20> 
                                            Time 
                                        </th>
                                        <td>{{ details.time }}</td>
                                    </tr>
                                    <tr>
                                        <th> 
                                            <img src = "https://cdn-icons-png.flaticon.com/128/1052/1052866.png" height = 20 width = 20> 
                                            Fees
                                        </th>
                                        <td>{{ details.fees }} SGD</td>
                                    </tr>
                                    <tr>
                                        <th> 
                                            <img src = "https://cdn-icons-png.flaticon.com/128/819/819814.png" height = 20 width = 20> 
                                            Location
                                        </th>
                                        <td>{{ details.location }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer mt-0">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-dark" :data-bs-target="`#signUpPage${details.eventId}`"
                                data-bs-toggle="modal" class="btn-signup">Sign up now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" :id="`signUpPage${details.eventId}`" aria-hidden="true" aria-labelledby="SignUpPageLabel"
                tabindex="-1">
                <div class="modal-dialog modal-dia  log-scrollable modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="SignUpPageLabel">Sign Up Page</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p class="display-6 lead text-center mt-3" v-model="title"> {{ details.name }} </p>
                            <div class="container text-break p-3 mt-3 fs-6">
                                Name: {{ userInfo.name }}
                                <br>
                                Matriculation number: {{ userInfo.matric_no }}
                                <br>
                                School: {{ userInfo.school }}
                                <br>
                                Payment: NA
                            </div>
                            <button class="btn btn-warning center"
                            @click="addEvent(details.name, details.club, details.photo, details.date, details.location, details.time, details.type)"
                            :data-bs-target="`#addSuccessModal`" data-bs-toggle="modal">Confirm</button>

                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-dark" data-bs-target="`#infoPage${details.eventId}`" data-bs-toggle="modal">Go
                                back</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Confirmation Page-->
            <div class="modal fade" :id="`addSuccessModal`" aria-hidden="true" aria-labelledby="addSuccessModalLabel" tabindex="-1">
                <div class="modal-dialog modal-dialog-scrollable modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="addSuccessModal">Confirmation</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p class = "display-6 lead text-center mt-3 text-wrap">Event successfully added to calendar!</p>  
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END OF SIGN UP & MORE INFO -->
        </div> <!-- end of event div-->
    </div>

    <h3 class = "display-5 my-4">For You</h3>
    <hr style = "color: #104547">
    <div class="cards_landscape_wrap-2" id = "for_you">
            <!--template for an event-->
            <div class="card my-5 mx-3" v-for="details of for_you_events" >
                <!-- start of card-->
                <div :id="`eventCard${details.eventId}`">
                    <div class="text-box" style ="height: 300px">
                        <div class="image-box">
                            <img :src="details.photo" />
                        </div>
                        <div class="text-container">
                            <h5 class="card-title"> {{ details.name }} </h5>
                            <!-- SUBTITLE -->
                            <h6 class="card-subtitle mb-2 "> {{ details.type }} </h6>
                            <!-- BODY -->
                            <p class="card-text text-wrap">
                                Date: {{ details.date }}
                                <br>
                                Time: {{ details.time }}
                                <br>
                                Club: {{ details.club }}
                                <br>
                                Fees: {{ details.fees }} SGD
                            </p>
                            
                        </div>
                    </div>
                    <!-- sign up button-->
                    <div style="display:flex; align-content: flex-start; margin: 15px;">
                        <button type="button" class="btn details-btn mt-3 " :data-bs-target="`#infoPage${details.eventId}`"
                            data-bs-toggle="modal">More info</button>
                    </div>
                </div>
                <!-- end of card-->

                <!-- MORE INFO & THE SIGNUp -->
                <!-- BUTTON -->

                <!-- Modal -->
                <div class="modal fade" :id="`infoPage${details.eventId}`" tabindex="-1" aria-labelledby="InfoPageLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="InfoPageLabel"> {{ details.club }} </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container p-2">
                                    <img :src="details.photo"
                                        style="width:500px; height:250px" alt="..." class="center "/>
                                </div>
                                <p class="display-6 lead text-center">{{ details.name }}</p>
                                <hr>
                                <div class="container">
                                    <table class = "table table-striped text-start">
                                        <tr>
                                            <th>
                                                <img src = "https://cdn-icons-png.flaticon.com/128/3990/3990804.png" height = 20 width = 20> 
                                                Club 
                                            </th>
                                            <td>{{ details.club }}</td>
                                        </tr>
                                        <tr>
                                            <th> 
                                                <img src = "https://cdn-icons-png.flaticon.com/128/591/591607.png" height = 20 width = 20> 
                                                Date
                                            </th>
                                            <td>{{ details.date }}</td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <img src = "https://cdn-icons-png.flaticon.com/128/2997/2997985.png" height = 20 width = 20> 
                                                Time 
                                            </th>
                                            <td>{{ details.time }}</td>
                                        </tr>
                                        <tr>
                                            <th> 
                                                <img src = "https://cdn-icons-png.flaticon.com/128/1052/1052866.png" height = 20 width = 20> 
                                                Fees
                                            </th>
                                            <td>{{ details.fees }} SGD</td>
                                        </tr>
                                        <tr>
                                            <th> 
                                                <img src = "https://cdn-icons-png.flaticon.com/128/819/819814.png" height = 20 width = 20> 
                                                Location
                                            </th>
                                            <td>{{ details.location }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-dark" :data-bs-target="`#signUpPage${details.eventId}`"
                                    data-bs-toggle="modal">Sign up now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" :id="`signUpPage${details.eventId}`" aria-hidden="true" aria-labelledby="SignUpPageLabel"
                    tabindex="-1">
                    <div class="modal-dialog modal-dia  log-scrollable modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="SignUpPageLabel">Sign Up Page</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p class="display-6 lead text-center mt-3" v-model="title"> {{ details.name }} </p>
                                <div class="container text-break p-3 mt-3 fs-6">
                                    Name: {{ userInfo.name }}
                                    <br>
                                    Matriculation number: {{ userInfo.matric_no }}
                                    <br>
                                    School: {{ userInfo.school }}
                                    <br>
                                    Payment: NA
                                </div>
                                <button class="btn btn-warning center" id = "save" 
                                @click="addEvent(details.name, details.club, details.photo, details.date, details.location, details.time)"
                                >Confirm</button>

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-dark" :data-bs-target="`infoPage${details.eventId}`" data-bs-toggle="modal">Go
                                    back</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END OF SIGN UP & MORE INFO -->
            </div> <!-- end of event div-->
    </div>
    </div>

    <footer class = "text-center text-white" style = "background-color: #104547;">
        <p>Created by G7T7 © 2022</p>
    </footer>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<!-- Axios -->
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<!-- Vue.js 3 CDN -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</html>