/* profile page */
.navbar-nav {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
h2 {
    text-align: center;
    padding: 20px;
    padding-top: 40px;
}

#events h2, .payment h2 {
    padding-bottom: 60px;
}



.profile-page > img {
    width: 233px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.category {
    width: 30%;
    font-weight: bold;
}

.next-button {
    width: 5%;
}

.profile-pic {
    border-radius: 50%;
}

/* next buttons */
a {
    text-decoration: none;
    display: inline-block;
    padding: 0px 12px;
}
  
.profile-page a:hover {
background-color: #ddd;
color: black;
}

.next {
font-size: 20px;
color: grey;
}

.round {
border-radius: 50%;
}

td {
    height: 100px;
    vertical-align: middle;
}




.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    text-align: end;
}

.card-color {
    background-color: #f0f3f4;
}

.payment {
    margin-top: 20px;
}


#events {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 40px;
}

#events .card {
    display: inline-block;
    width: 18rem;
    height: 25rem;
    /* height: 350px; */
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
}

.button-green {
    background-color: #104547;
    color: white;
}

.button-green:hover {
    background-color: #3F6A6B;
    color: white;
}