/* profile page */
.navbar-nav {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
h2 {
    text-align: center;
    padding: 20px;
}


.profile-page > img {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.profile-ud-page > img {
    width: 25%;
    display: block;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;

}

.profile-ud-page table {
    margin-top: 40px;
}

.category {
    width: 30%;
    font-weight: bold;
}

.next-button {
    width: 5%;
}

.profile-pic {
    border-radius: 50%;
}

/* next buttons */
a {
    text-decoration: none;
    display: inline-block;
    padding: 0px 12px;
}
  
.profile-page a:hover {
background-color: #ddd;
color: black;
}

.next {
font-size: 20px;
color: grey;
}

.round {
border-radius: 50%;
}




.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    text-align: end;
}

.card-color {
    background-color: #f0f3f4;
}

